<!DOCTYPE html>
<html ng-app="blog">
<head>
    <title>My web application</title>
    <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">AWJ Base Project</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Persoane</a></li>
                    <li><a href="#">Laptop</a></li>
                     <li><a href="#">Livrare</a></li>
                     <li><a href="#">Tableta</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<hr/>

<div class="container">
    <div>
        <h1>{{ helloWorld }}</h1>

        <p>MY AWJ App</p>
    </div>
</div>

<hr/>

<div class="container" ng-controller="HomeController">

    <h1>Persoane</h1>

    <h2>Listeaza toate persoanele</h2>

    <table class="table table-bordered">
        <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
        <tr ng-repeat="persoana in persoane" data-id="{{persoana.id}}">
            <td>{{ persoana.id }}</td>
            <td>{{ persoana.name }}</td>
            <td>
                <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
                </a>
                <a href="">
                    <button ng-click="setUpdatePerson(persoana)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="">
                    <button ng-click="deletePersoana(persoana.id)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-3">
            <h2>Editeaza persoana</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editPerson.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editPerson.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updatePerson()">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Adauga o persoana</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="persoana.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="persoana.name">
                </div>

                <button ng-click="addPersoana(persoana)" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>

</div>

<hr/>

  <!-- /resources2-->
  <div class="container" ng-controller="LaptopController">

    <h1>Laptopuri</h1>

    <h2>Listeaza Laptopuri</h2>

    <table class="table table-bordered">
        <tr>
            <th ng-repeat="field in fields">{{field}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
        <tr ng-repeat="laptop in laptopuri" data-id="{{laptop.idLaptop}}">

            <td>{{ laptop.denumire }}</td>
            <td>{{ laptop.procesor }}</td>
            <td>{{ laptop.idLaptop }}</td>

            <td>
                <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
                </a>
                <a href="">
                    <button ng-click="setUpdateLaptop(laptop)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="">
                    <button ng-click="deleteLaptop(laptop.idLaptop)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-3">
            <h2>Editeaza laptop</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editLaptop.idLaptop">
                </div>
                <div class="form-group">
                    <label for="attribute2">Denumire</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="Denumire" ng-model="editLaptop.denumire">
                </div>
                <div class="form-group">
                    <label for="attribute3">Procesor</label>
                    <input type="text" class="form-control" id="attribute3" placeholder="Procesor" ng-model="editLaptop.procesor">
                </div>

                <button type="submit" class="btn btn-info" ng-click="updateLaptop()">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Adauga un laptop</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="laptop.idLaptop">
                </div>
                <div class="form-group">
                    <label for="attribute2">Denumire</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="Denumire" ng-model="laptop.denumire">
                </div>

                 <div class="form-group">
                    <label for="attribute3">Procesor</label>
                    <input type="text" class="form-control" id="attribute3" placeholder="Procesor" ng-model="laptop.procesor">
                </div>

                <button ng-click="addLaptop(laptop)" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>

</div>
  <hr/>


   <!-- /resources3-->
    <div class="container" ng-controller="FilmController">
        <h1>Filme</h1>
        <h2>Listeaza toate filmele</h2>
        <table class="table table-bordered">
            <tr>
                <th ng-repeat="field in fields">{{field | uppercase}}</th>
                <th style="width:210px;">OPTIONS</th>
            </tr>
            <tr ng-repeat="film in filme" data-id="{{film.id}}">
                <td>{{ film.id }}</td>
                <td>{{ film.denumire }}</td>
                <td>{{ film.rating }}</td>
                <td>
                    <a href="">
                <span class="label label-success">
                  Open
                  <span class="glyphicon glyphicon-folder-open"></span>
                </span>
                    </a>
                    <a href="">
                        <button ng-click="setUpdateFilm(film)" class="btn btn-info btn-xs">
                            Edit
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </a>
                    <a href="">
                        <button ng-click="deleteFilm(film.id)" class="btn btn-danger btn-xs">
                            Remove
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </a>
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-3">
                <h2>Editeaza film</h2>
                <form action="" method="">
                    <div class="form-group">
                        <label for="attribute1">ID</label>
                        <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editFilm.id">
                    </div>
                    <div class="form-group">
                        <label for="attribute2">DENUMIRE</label>
                        <input type="text" class="form-control" id="attribute2" placeholder="DENUMIRE" ng-model="editFilm.denumire">
                    </div>
                    <div class="form-group">
                        <label for="attribute3">NOTA</label>
                        <input type="text" class="form-control" id="attribute3" placeholder="NOTA" ng-model="editFilm.rating">
                    </div>
                    <button type="submit" class="btn btn-info" ng-click="updateFilm()">Save</button>
                </form>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <h2>Adauga un film</h2>
                <form action="" method="">
                    <div class="form-group">
                        <label for="attribute1">ID</label>
                        <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="film.id">
                    </div>
                    <div class="form-group">
                        <label for="attribute2">DENUMIRE</label>
                        <input type="text" class="form-control" id="attribute2" placeholder="DENUMIRE" ng-model="film.denumire">
                    </div>
                    <div class="form-group">
                        <label for="attribute3">NOTA</label>
                        <input type="text" class="form-control" id="attribute3" placeholder="NOTA" ng-model="film.rating">
                    </div>
                    <button ng-click="addFilm(film)" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>
    </div>
    <hr/>


    <!--resource 4-->

    <!-- /resources3-->
     <div class="container" ng-controller="CarteController">
         <h1>Carti</h1>
         <h2>Listeaza toate cartile</h2>
         <table class="table table-bordered">
             <tr>
                 <th ng-repeat="field in fields">{{field | uppercase}}</th>
                 <th style="width:210px;">OPTIONS</th>
             </tr>
             <tr ng-repeat="carte in carti" data-id="{{carte.id}}">
                 <td>{{ carte.id }}</td>
                 <td>{{ carte.denumire }}</td>
                 <td>{{ carte.pret }}</td>
                 <td>
                     <a href="">
                 <span class="label label-success">
                   Open
                   <span class="glyphicon glyphicon-folder-open"></span>
                 </span>
                     </a>
                     <a href="">
                         <button ng-click="setUpdateCarte(carte)" class="btn btn-info btn-xs">
                             Edit
                             <span class="glyphicon glyphicon-edit"></span>
                         </button>
                     </a>
                     <a href="">
                         <button ng-click="deleteCarte(carte.id)" class="btn btn-danger btn-xs">
                             Remove
                             <span class="glyphicon glyphicon-remove"></span>
                         </button>
                     </a>
                 </td>
             </tr>
         </table>
         <div class="row">
             <div class="col-md-3">
                 <h2>Editeaza carte</h2>
                 <form action="" method="">
                     <div class="form-group">
                         <label for="attribute1">ID</label>
                         <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editCarte.id">
                     </div>
                     <div class="form-group">
                         <label for="attribute2">DENUMIRE</label>
                         <input type="text" class="form-control" id="attribute2" placeholder="DENUMIRE" ng-model="editCarte.denumire">
                     </div>
                     <div class="form-group">
                         <label for="attribute3">PRET</label>
                         <input type="text" class="form-control" id="attribute3" placeholder="PRET" ng-model="editCarte.pret">
                     </div>
                     <button type="submit" class="btn btn-info" ng-click="updateCarte()">Save</button>
                 </form>
             </div>
             <div class="col-md-3 col-md-offset-6">
                 <h2>Adauga o carte</h2>
                 <form action="" method="">
                     <div class="form-group">
                         <label for="attribute1">ID</label>
                         <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="carte.id">
                     </div>
                     <div class="form-group">
                         <label for="attribute2">DENUMIRE</label>
                         <input type="text" class="form-control" id="attribute2" placeholder="DENUMIRE" ng-model="carte.denumire">
                     </div>
                     <div class="form-group">
                         <label for="attribute3">PRET</label>
                         <input type="text" class="form-control" id="attribute3" placeholder="PRET" ng-model="carte.pret">
                     </div>
                     <button ng-click="addFilm(carte)" class="btn btn-success">Add</button>
                 </form>
             </div>
         </div>
     </div>
     <hr/>





  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Vasile Razvan-Ioan, 334AA</p>
    </footer>
  </div>

               <script src="js/jquery-1.11.3.min.js"></script>
               <script src="js/bootstrap.min.js"></script>
               <script src="js/angular.min.js"></script>
               <script src="js/app.js"></script>

    </body>

</html>
